<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Users</h1>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Dob</th>
        <th>Gender</th>
        <th>Status</th>
        <th># of Addresses</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.dob %></td>
          <td><%= user.gender %></td>
          <td><%= user.status %></td>
          <td><%= user.addresses.count %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
</div>