<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :address_type %>
    <%= form.text_field :address_type %>
  </div>

  <div class="field">
    <%= form.label :default %>
    <%= form.check_box :default %>
  </div>

  <div class="field">
    <%= form.label "User" %>
    <%= collection_select(:address, :user_id, User.all, :id, :name, {:prompt=>true}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
